body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-content: stretch;
}

.gameBoard {
  justify-self: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}

#gameCard {
  justify-self: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}

.imageCard {
  border-radius: 40px;
  height: 400px;
}

#scoresContainer {
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}

.scoreCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: stretch;
}

.scoreText {
  margin: 0 !important;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.button {
  position: relative;
  background-color: #1a8d88;
  border: none;
  margin: 10px;
  width: 50px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  border-radius: 5px;
}

.button:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.button:after {
  content: "";
  background: #177661;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#buttonsContainer,
.roundsContainer {
  justify-self: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: stretch;
}

.background {
  background-color: #000;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: -1;
  filter: blur(20px);
}
